body {
  background-color: rgb(101, 121, 126);
  height: 100vh;
}


/* ===================================================================================Homepage Styles=================================================================================== */

#sidebar-col {
  position: fixed;
}

#homepage {
  padding-top: 100px;
  padding-bottom: 150px;
  padding-left: 200px;
}

#homepage-row1 {
  margin-left: 50px;
  margin-right: 100px;
  margin-bottom: 150px;
  color: white;
}

#homepage-row2{
  margin-left: 50px;
  margin-right: 100px;
}

.wib-image {
  width: 800px;
  height: 600px;
  padding-right: 50px;
}
#card1 {
  margin-top: 20px;
  color: white;
}

.card-header {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 5px;
}

.card-body {
  font-size: 24px;
  padding: 10px;
}

#homepage-row3{
  margin-top: 200px;
  margin-left: 50px;
  margin-right: 100px;
  color: white
}

#accordion-column {
  margin-left: 100px;
}

#equipment-accordion {
  margin-top: 50px;
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: #36708b;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
  font-size: 20px;
}

.accordion-button.collapsed {
  color: black;
  background-color: rgb(99, 163, 201);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
  font-size: 20px;
}

#homepage-row4 {
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 100px;
  color: white;
}

#wcb {
  max-width: 2350px;
}

/* ===================================================================================Navbar Styles=================================================================================== */


#heading-container {
  padding: 0px;
}

#nav-bar {
  padding: 0px;
  margin-bottom: 0px;
  width: 100%;
}

.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}


#nav-bar-container {
  background-color: rgb(216, 215, 215);
  /* border-bottom: 1px solid slategrey;
   */
  background: linear-gradient(to right, rgb(215, 217, 219), rgb(150, 150, 150));
}

#nav-bar .navbar-brand {
  font-size: 40px; /* Adjust the font size as needed */
  font-weight: bold;
  display: flex;
  align-items: center;
  line-height: 1; /* Set to 1 or adjust as needed to match the logo's height */
}

#bouldlytics-logo {
  height: 100px;
  padding-top: 12px;
  padding-bottom: 12px;
}

#navbar-stack {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
}

#navbar-login {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

#navbar-signup {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

#navbar-logout {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

#off-canvas-nav {
  width: 300px;
  background-color: rgb(215, 217, 219);
}


/* ===================================================================================Register Form Styles=================================================================================== */


#register-form-header {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  color: rgb(255, 255, 240);
}

#register-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 1190px;
  width: 100%;
  background-image: url(../public/register-background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#register-form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 240);
  height: 1000px;
  width: 500px;
  border: 3px solid rgb(71, 197, 255);
  border-radius: 30px;
  background: linear-gradient(to bottom right, rgb(101, 86, 235), rgb(71, 197, 255));
}

.register-user-input-field {
  height: 60px;
  width: 300px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(255, 255, 240);
  font-size: 30px;
}

.register-form-label {
  font-size: 40px;
  font-weight: bold;
}

.setter-button, .user-button {
  background-color: black;
  width: 100px;
  font-size: 25px;
}

#register-form-sign-up {
  height: 50px;
  width: 180px;
  font-size: 30px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(255, 255, 240);
}


/* ===================================================================================Login Form Styles=================================================================================== */


#login-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 1190px;
  width: 100%;
  background-image: url(../public/login-background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#login-form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 240);
  height: 600px;
  width: 400px;
  border: 3px solid rgb(71, 197, 255);
  border-radius: 30px;
  background: linear-gradient(to bottom right, rgb(101, 86, 235), rgb(71, 197, 255));
}

#login-header {
  font-size: 50px;
  font-weight: bold;
}

.login-user-input-field {
  height: 60px;
  width: 300px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(255, 255, 240);
  font-size: 30px;
}

.login-form-label {
  font-size: 40px;
  font-weight: bold;
}

#login-form-sign-up {
  height: 50px;
  width: 180px;
  font-size: 30px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(255, 255, 240);
}


/* ===================================================================================All Users Page Styles=================================================================================== */


#all-users-container {
  /* border: 1px black solid; */
  margin-top: 30px;
}

#all-users-div {
  border-top: 1px black solid;
  padding: 10px;
  margin-bottom: 20px;
}

#users-radio-buttons {
  margin-top: 10px;
}

#user-filter-search {
  width: 300px;
  padding: 5px;
  margin-top: 20px;
}

#user-info {
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
}

.users-column {
  text-align: center;
  padding-top: 10px;
}

.username-link {
  text-decoration: none;
  color: inherit;
}

.username-link:hover {
  color: white;
  font-size: 20px;
}


/* ===================================================================================MoonBoard Styles=================================================================================== */



#moonboard-div-image {
  background-image: url('moonboard-setup.jpg');
  width: 655px;
  height: 1023px;
  margin-top: 100px;
}
* {
  box-sizing: border-box;
}
#moonboard-holds-container {
  border: 1px black solid;
  height: 925px;
  width: 580px;
  margin-top: 60px;
  margin-left: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#moonboard-aligner {
  display: flex;
  justify-content: space-evenly;
}

#moonboard-input-fields-container {
  display: flex;
  flex-direction: column;
  margin-top: 18%;
}


#hold-radio-buttons {
  margin-bottom: 50px;
  background-color: black;
}

#all-moonboard-boulders-div {
  border-top: 1px black solid;
  padding: 10px;
  margin-bottom: 20px;
}

#moonboard-info {
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
}

.moonboard-column {
  text-align: center;
  padding-top: 10px;
}

.project-boulder-follow-button {
  background-color: rgb(51, 96, 179);
  color: white;
  border-color: transparent;
}

.project-boulder-follow-button:hover {
  background-color: rgb(51, 170, 179);
  color: white;
  border-color: transparent;
}